<!DOCTYPE html>
<html lang="en">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {

        background-image: linear-gradient(to bottom,
                rgba(255, 136, 0, 0.767),
                rgba(0, 0, 255, 0.5)), url("./templates/logins/abc.jpg");


    }
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


header {
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px ;
}

.logo{
    text-decoration: none;
    color: #3a6cf4;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}
.navigation a{
    color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}
.navigation a:hover{
    color: #fc1c1c;
}
section {
    padding: 100px 200px;
}
.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(abc.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #4e9eff;
    font-size: 3em;
    font-weight: 600;
}
.main h3 {
    color: #0f0f0f;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.title {
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.fatma {

    color: #0f0f0f;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;


}
input[type=submit] {
    width: 60%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #eb1a1a;
  }
  input[type=file] {
    width: 40%;
    background-color: #1b851b;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .cards {
   
   background-color: hsl(225, 2%, 67%);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  table, th, td {
    border: 1px solid;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    
 
   
    
  }
  th {
    background-color: #04AA6D;
    color: white;
  }
  .tabel {
    
 
   background-color: #a8a9ac;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .footer {
    background-color:#3a6cf4 ;
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}


.footer p{
    font-size: 1.2em;
    font-weight: 600;
    color: #0f0f0f;
}



.footer .social-icons a{
    font-size: 1.3em;
    padding: 0 12px 0 0;
    color: #0f0f0f;

}
.footer .social-icons a:hover{
    color: #eb1a1a;
}
  

  @media (max-width:1023px){
    header{
        padding: 12px 20px;
    }

    .navigation a{
        padding-left: 10px;
    }

    .title{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }

    .main-content h2{
        font-size: 1em;
    }

    .main-content h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width:641px){
    body{
        font-size: 12px;
    }

    .main-content h2{
        font-size: 0.8em;
    }

    .main-content h3{
        font-size: 1.4em;
    }
}

@media (max-width:300px){
    body{
        font-size: 10px;
     
    }
}

  
    </style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="style.css">


</head>
<body>
    <header>
        
         <form action="/logins">
            <button  type="submit" class="btn btn-warning" style="font-size: 160%;" >Log out</button>
            <a href="#" class="logo" style="font-size: 40px;">Student</a>
           </form>
        <nav class="navigation">
            <a onclick="location.href='/students/show_subjects'">Download your file</a>
           <a onclick="location.href='/students/register'">Resigter here</a>
           
        </nav>
    </header>
    <section class="main">
        <div>
            <a style="font-size: 60px;color: rgb(165, 21, 57);"> <br>Welcome,{{the_student.name}}</a>
             <a style="font-size: 40px;color: rgb(165, 21, 57);"> <br>You can upload files and resigter the subjects</a>
            
            
            
        </div>
    </section>

         <footer class="footer">
            <p>To communicate with us, use these links</p>
            <div class="social-icons">
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
            </div>
         </footer>
         
   
      

</body>
</html>